body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.form-input-container {
  margin-bottom: 1rem;
}

.form-error {
  height: 0px;
  padding: 0.75rem;
  text-align: center;
  color: #c70000;
}
.form-group {
  display: flex;
  justify-content: space-evenly;
}

.form-wrap {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* .form-container{
  height: 30rem;
} */

/* .button-container {
  height: 50px;
} */

/* .button-wrap{
  position: relative;
  display: flex;
  justify-content: space-between;
} */

/* .btn {
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.btn.enabled:hover {
  transform: translateY(-3px);
  transition: all ease 0.3s;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
.btn.enabled {
  background: #0373fc;
  transition: all ease 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.btn.disabled:focus {
  outline: 0;
} */
