$color_1: #495057;
$color_2: #868e96;
$color_3: #abb6bf;
$background_color_1: #fff;
$background_color_2: #f5f6f7;
$background_color_3: #f9fafb;
$border_color_1: #8fa4b8;
$border_color_2: #007bff;
$border_color_3: #becad6;
$border_color_4: #c4183c;

.form-control {
	height: auto;
	padding: 0.5rem 1rem;
	font-size: 0.95rem;
	line-height: 1.5;
	color: $color_1;
	background-color: $background_color_1;
	border: 1px solid #becad6;
	font-weight: 300;
	will-change: border-color, box-shadow;
	border-radius: 0.375rem;
	box-shadow: none;
	transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
	&:hover {
		border-color: $border_color_1;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_1;
		border-color: $border_color_2;
		box-shadow: 0 0.313rem 0.719rem rgba(0, 123, 255, 0.1), 0 0.156rem 0.125rem rgba(0, 0, 0, 0.06);
		&:hover {
			border-color: $border_color_2;
		}
	}
	&::-webkit-input-placeholder {
		color: $color_2;
	}
	&:-ms-input-placeholder {
		color: $color_2;
	}
	&::-ms-input-placeholder {
		color: $color_2;
	}
	&::placeholder {
		color: $color_2;
	}
	&:disabled {
		background-color: $background_color_2;
		&:hover {
			border-color: $border_color_3;
			cursor: not-allowed;
		}
	}
}
.form-control[readonly] {
	background-color: $background_color_2;
	&:hover {
		border-color: $border_color_3;
		cursor: not-allowed;
	}
	&:not(:disabled) {
		&:focus {
			box-shadow: none;
			border-color: $border_color_3;
		}
	}
}
.form-control-plaintext {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	line-height: 1.5;
	font-weight: 300;
}
.was-validated {
	.form-control {
		&:invalid {
			border-color: $border_color_4;
			box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1);
			&:focus {
				box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1), 0 1px 1px 0.1rem rgba(196, 24, 60, 0.2);
			}
			&:hover {
				border-color: $border_color_4;
			}
		}
	}
	.custom-select {
		&:invalid {
			border-color: $border_color_4;
			box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1);
			&:focus {
				box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1), 0 1px 1px 0.1rem rgba(196, 24, 60, 0.2);
			}
			&:hover {
				border-color: $border_color_4;
			}
		}
	}
}
.form-control.is-invalid {
	border-color: $border_color_4;
	box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1);
	&:focus {
		box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1), 0 1px 1px 0.1rem rgba(196, 24, 60, 0.2);
	}
	&:hover {
		border-color: $border_color_4;
	}
}
.custom-select.is-invalid {
	border-color: $border_color_4;
	box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1);
	&:focus {
		box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1), 0 1px 1px 0.1rem rgba(196, 24, 60, 0.2);
	}
	&:hover {
		border-color: $border_color_4;
	}
}
.input-group {
	>.form-control {
		&+.form-control {
			margin-left: -1px;
		}
		&+.custom-select {
			margin-left: -1px;
		}
		&+.custom-file {
			margin-left: -1px;
		}
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	>.custom-select {
		&+.form-control {
			margin-left: -1px;
		}
		&+.custom-select {
			margin-left: -1px;
		}
		&+.custom-file {
			margin-left: -1px;
		}
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	>.custom-file {
		&+.form-control {
			margin-left: -1px;
		}
		&+.custom-select {
			margin-left: -1px;
		}
		&+.custom-file {
			margin-left: -1px;
		}
		&:not(:last-child) {
			.custom-file-label {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				&::after {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
		&:not(:first-child) {
			.custom-file-label {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				&::after {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}
	>.input-group-prepend {
		>.btn {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		>.input-group-text {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) {
			>.btn {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			>.input-group-text {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		&:first-child {
			>.btn {
				&:not(:first-child) {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
			>.input-group-text {
				&:not(:first-child) {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}
	>.input-group-append {
		&:not(:last-child) {
			>.btn {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			>.input-group-text {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		&:last-child {
			>.btn {
				&:not(:last-child) {
					&:not(.dropdown-toggle) {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
			}
			>.input-group-text {
				&:not(:last-child) {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
		>.btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		>.input-group-text {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	>.input-group-middle {
		>.btn {
			border-left: 0;
			border-right: 0;
			border-radius: 0;
		}
		>.input-group-text {
			border-left: 0;
			border-right: 0;
			border-radius: 0;
		}
	}
}
.input-group.input-group-seamless {
	>.form-control {
		border-radius: 0.375rem;
		&:not(:last-child) {
			padding-right: 40px;
		}
		&:not(:first-child) {
			padding-left: 40px;
		}
	}
	>.input-group-append {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 4;
		right: 0;
		.input-group-text {
			padding: 12px 14px;
			background: transparent;
			border: none;
		}
	}
	>.input-group-prepend {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 4;
		left: 0;
		.input-group-text {
			padding: 12px 14px;
			background: transparent;
			border: none;
		}
	}
	>.input-group-middle {
		right: 0;
		left: 0;
	}
	>.custom-select {
		&:not(:last-child) {
			padding-right: 40px;
		}
		&:not(:first-child) {
			padding-left: 40px;
		}
	}
}
.input-group-prepend {
	.btn {
		&+.btn {
			margin-left: -1px;
		}
		&+.input-group-text {
			margin-left: -1px;
		}
	}
	.input-group-text {
		&+.input-group-text {
			margin-left: -1px;
		}
		&+.btn {
			margin-left: -1px;
		}
	}
	margin-right: -1px;
}
.input-group-append {
	.btn {
		&+.btn {
			margin-left: -1px;
		}
		&+.input-group-text {
			margin-left: -1px;
		}
	}
	.input-group-text {
		&+.input-group-text {
			margin-left: -1px;
		}
		&+.btn {
			margin-left: -1px;
		}
	}
	margin-left: -1px;
}
.input-group-text {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5;
	color: $color_3;
	background-color: $background_color_3;
	border: 1px solid #becad6;
	border-radius: 0.375rem;
}
.input-group-middle {
	display: -ms-flexbox;
	display: flex;
}
